/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERALES */

body {
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "BIZ UDPMincho", serif;
    text-transform: uppercase;
    font-weight: 400;
}

h1 {
    font-size: 40px;
    line-height: 48px;
}

h2 {
    color: #484441;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 2%;
}

.h2-light {
    color: #BEBBB9;
}

h3 {
    color: #484441;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2%;
}

.h3-dark {
    color: #fff;
}

p {
    font-family: "Source Sans 3", sans-serif;
    color: #787471;
    font-weight: 400;
    font-size: 18px;
}

.p-small {
    font-size: 16px;
}

.highlight {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 400px;
    color: #fff;
    letter-spacing: 4%;
}

.highlight-dark {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 400px;
    color: #ABA49F;
    letter-spacing: 4%;
}

/* BOTÓN */

.link-container {
    height: 32px;
    border-bottom: 1px solid #E4E4E4;
    display: inline-flex;
    align-items: center;
    width: fit-content;
}

.link-container a {
    color: rgb(120, 116, 113);
    text-decoration: none;
    font-weight: 600;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.link-container:hover {
    color: #484441;
    border-bottom: 1px solid #484441;
}

.link-container-dark {
    height: 32px;
    border-bottom: 1px solid #7B7B7B;
    display: inline-flex;
    align-items: center;
    width: fit-content;
}

.link-container-dark a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.link-container-dark:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

/* HEADER Y MENÚ */

header {
    padding: 48px;
    text-align: center;
}

nav {
    border-top: 1px solid #E4E4E4;
    margin-bottom: -16px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 48px;
}

nav ul li {
    list-style: none;
    display: contents;
}

nav ul li a {
    height: 64px;
    display: flex;
    align-items: center;
    color: #322016;
    font-family: "BIZ UDPMincho", serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-actual {
    border-top: 2px solid #322016;
    box-sizing: border-box;
}

nav ul li a:hover {
    border-top: 2px solid #322016;
    background-color: #f8f8f8;
}

/* HERO BANNER */

.hero-banner {
    height: 776px;
    background: no-repeat url(../images/img-header.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    gap: 8px;
}

.hero-banner h1 {
    max-width: 400px;
}

/* SECTION 01 */

.two-columns {
    display: flex;
    padding: 96px;
    gap: 96px;
}

.two-columns-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-apoyo {
    width: 50%;
    height: 600px;
    filter: grayscale(100);
    object-fit: cover;
}

.two-columns-bottom {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

/* SECTION 02 */

.subtitle {
    padding: 96px;
    border-top: 1px solid #E4E4E4;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.three-columns {
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
}

.img-services {
    filter: grayscale(100);
    height: 400px;
    object-fit: cover;
    width: 100%;
}

.services-card-info{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px 48px 96px 48px;
}

/* SECTION 03 */

.two-columns-products {
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    padding: 0px 96px 96px 96px;
    gap: 96px;
}

.product-card {
    background-image: url(../images/img-header.jpg);
    background-size: cover;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 48px;
    filter: grayscale();
}

/* SECTION 04 */

.home-clients {
    padding: 0 96px 96px 96px;
    display: flex;
    gap: 96px;
    justify-content: center;
    width: 100%;;
}

.client {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    opacity: 24%;
}

.client:hover {
    opacity: 100%;
}

.client-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.logo-container {
    width: 200px;
    height: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.highlight-client {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 400px;
    color: #4A4A4A;
    letter-spacing: 4%;
}

/* FOOTER */

footer {
    background: #484441;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-bottom: 48px;
    border-bottom: 1px solid #706B66;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    color: #fff;
    font-family: "BIZ UDPMincho", serif;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

.rrss-icons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-info {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.footer-info-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

footer p {
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}

footer h6 {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 4%;
    font-weight: 600;
    color: #fff;
    font-family: "Source Sans 3", sans-serif;
}

.footer-copyright {
    display: flex;
    gap: 12px;
    justify-content: center;
}