/*brand colors*/
$colorBrown: #322016;

/*neutral colors*/
$colorWhite: #ffffff;
$colorLightGray: #F8F8F8;
$colorGray: #E4E4E4;

/*text colors*/
$colorTextDark: #484441;
$colorTextMedium: #787471;
$colorTextLight: #ABA49F;

/*breakpoints*/
$mediaMobile: 960px;