/*header*/
header {
    padding: 48px;
    text-align: center;
}

/*menu*/
nav {
    border-top: 1px solid $colorGray;
    display: flex;

    svg {
        fill: $colorBrown;
    }

    #sidebar-active {
        display: none;
    }

    .open-sidebar-button, .close-sidebar-button {
        display: none;
    }

    .links-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    ul {
        display: flex;
        justify-content: center;
        gap: 48px;

        li {
            list-style: none;
            display: contents;

            a {
                height: 64px;
                display: flex;
                align-items: center;
                color: $colorBrown;
                font-family: "BIZ UDPMincho", serif;
                font-size: 12px;
                font-weight: 400;
                text-transform: uppercase;
                text-decoration: none;
            }

            a:hover {
                border-top: 2px solid $colorBrown;
                background-color: $colorLightGray;
                transition-property: background-color;
                transition-duration: 0.5s;
                transition-timing-function: ease;
            }

            .menu-actual {
                border-top: 2px solid $colorBrown;
                box-sizing: border-box;
            }
        }
        
    }
}

/*media header and menu*/
@media screen and (max-width: $mediaMobile) {
    header {
        padding: 32px 24px;
    }

    nav {
        .links-container {
            display: none;
            flex-direction: column;
            position: fixed;
            background-color: $colorWhite;
            padding: 0px 16px 32px 16px;
            z-index: 100;
        }

        .open-sidebar-button, .close-sidebar-button {
            display: inline-block;
            margin: auto;
            padding: 12px;
        }

        .open-sidebar-button:hover, .close-sidebar-button:hover {
            cursor: pointer;
        }

        #sidebar-active:checked ~ .links-container {
            display: flex;
        }

        ul {
            flex-direction: column;
            gap: 24px;

            li {
                list-style: none;
                display: contents;
    
                a {
                    justify-content: center;
                }
    
                a:hover {
                    border: none;
                }
    
                .menu-actual {
                    border: none;
                }
            }
        }
    }
}