/*header*/
header {
    padding: 48px;
    text-align: center;
}

/*menu*/
nav {
    border-top: 1px solid $colorGray;

    ul {
        display: flex;
        justify-content: center;
        gap: 48px;

        li {
            list-style: none;
            display: contents;

            a {
                height: 64px;
                display: flex;
                align-items: center;
                color: $colorBrown;
                font-family: "BIZ UDPMincho", serif;
                font-size: 12px;
                font-weight: 400;
                text-transform: uppercase;
                text-decoration: none;
            }

            a:hover {
                border-top: 2px solid $colorBrown;
                background-color: $colorLightGray;
                transition-property: background-color;
                transition-duration: 0.5s;
                transition-timing-function: ease;
            }

            .menu-actual {
                border-top: 2px solid $colorBrown;
                box-sizing: border-box;
            }
        }
        
    }
}

/*media header and menu*/
@media screen and (max-width: $mediaMobile) {
    header {
        padding: 32px 24px;
    }

    nav {
        display: none;
    }
}