/*section1*/
.two-columns {
    display: flex;
    padding: 96px;
    gap: 96px;

    .img-apoyo {
        width: 50%;
        height: 600px;
        filter: grayscale(100);
        object-fit: cover;
    }

    .two-columns-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .two-columns-bottom {
            display: flex;
            flex-direction: column;
            gap: 48px;
        }
    }
}

/*media section1*/
@media screen and (max-width: $mediaMobile) {
    .two-columns {
        flex-direction: column;
        padding: 16px 16px 48px 16px;
        gap: 32px;

        .img-apoyo {
            width: 100%;
            height: 320px;
        }

        .two-columns-right {
            justify-content: start;
            gap: 32px;

            .two-columns-bottom {
                gap: 16px;
            }
        }
    }
}